<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "3.7.1" 
        version     = "3.7.1" >
        
        <!--icon src="icon.PNG" width="57" height="57" density="mdpi" /-->

    <!-- versionCode is optional and Android only -->

    <name>Carlselle</name>

    <description>
        Carlselle - camera spy
        sponsored by hm.
    </description>

    <author email="carlselle@carlselle.hm">
        Carlos y Gi, rite. 
    </author>

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />

    <allow-navigation href="http://*/*" />
    
    <access origin="*" />

    <!--uses-permission android:name="android.permission.INTERNET" /-->
    <!--preference name="orientation" value="landscape" /-->

</widget>
